* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.25;
}

:root {
  --brand: #2196f3;
  --primary: #fff;
  --secondary: #000;
  --tertiary: #ddd;
  --medium: 1.25rem;
}

body {
  display: grid;
  grid-gap: 1rem;
  background: var(--primary);
  color: var(--secondary);
  min-height: 100vh;
  grid-template-rows: auto calc(100% - 9em) auto;
}

.bold {
  font-weight: bold;
}

a {
  color: var(--secondary);
  text-underline-position: under;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  box-shadow: 0 4px 12px 0 var(--tertiary);
  font-size: var(--medium);
  color: var(--brand);
  background-color: aliceblue;
}

.wrapper {
  margin: 0 1.5rem;
  display: grid;
  align-content: flex-start;
}

article {
  justify-self: center;
  margin: 2rem;
  font-size: 0.825rem;
}

.grid {
  display: grid;
  grid-template-columns: 10rem repeat(31, minmax(37px, 1fr));
  border: 0.5px solid var(--secondary);
  > div {
    padding: 0.5rem;
    border: 0.5px solid var(--secondary);
    min-height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .delete-task {
    color: var(--secondary);
    cursor: pointer;
  }
  .datetask {
    padding: 0 0.5rem;
    cursor: pointer;
    justify-content: center;
    &:focus {
      border: 0.5px solid var(--brand);
    }
    &[aria-checked="true"]:after {
      content: " \25CF";
      font-size: 30px;
    }
  }
}

.cta-section {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 2rem 0;
  input {
    width: 10rem;
    margin-right: 0.25rem;
    border: 1px solid var(--secondary);
    padding: 2px;
  }
  a {
    margin-left: 1rem;
  }
  a {
    text-decoration: none;
    padding: 0 2px;
    border: 1px solid var(--secondary);
  }
}

input[type="button"] {
  margin: 0 1rem;
  padding: 0.5rem;
  background-color: var(--brand);
  color: var(--primary);
}

footer {
  background-color: aliceblue;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
  grid-column-gap: 1rem;
  justify-items: center;
  font-size: 0.825rem;
  height: 3rem;
}

@media screen and (max-width: 768px) {
  main {
    max-width: 100%;
    overflow: scroll;
  }
  .grid {
    border: none;
  }
  .cta-section {
    flex-direction: column;

    a {
      margin-right: 1rem;
      margin-left: 0;
    }
    > div {
      margin-top: 1rem;
      display: flex;
      &:nth-child(1) {
        input {
          flex-grow: 1;
        }
      }
      &:nth-child(2) {
        flex-direction: column;
        a {
          text-align: center;
          margin-top: 1rem;
        }
      }
    }
  }
}

@media print {
  @page {
    size: landscape;
    margin: 0;
  }
  .hide-print {
    display: none;
  }
  .invisible-print {
    visibility: hidden;
  }
  footer {
    a::after {
      content: "  (" attr(href) ")";
    }
  }
}
