* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand: #2196f3;
  --primary: #fff;
  --secondary: #000;
  --tertiary: #ddd;
  --medium: 1.25rem;
}

body {
  display: grid;
  grid-gap: 1rem;
  background: var(--primary);
  color: var(--secondary);
}

.bold {
  font-weight: bold;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  box-shadow: 0 4px 12px 0 var(--tertiary);
  font-size: var(--medium);
  color: var(--brand);
}

.wrapper {
  margin: 0 1.5rem;
  display: grid;
}

article {
  place-self: center;
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: 10rem repeat(31, 1fr);
  > div {
    padding: 0.5rem;
    box-shadow: 0 0 0 0.15px var(--secondary);
    min-height: 2rem;
    display: flex;
    align-items: center;
  }
  .datetask {
    padding: 0 0.5rem;
    cursor: pointer;
    justify-content: center;
    &:focus {
      border: 0.5px solid var(--brand);
    }
    &[aria-checked="true"]:after {
      content: " \25CF";
      font-size: 2rem;
    }
  }
}

.add-task {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
